# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tmp
lib/cc1101/ELECHOUSE_CC1101_SRC_DRV.h
lib/cc1101/ELECHOUSE_CC1101_SRC_DRV.cpp
.pio/**
